<div class="main-content">
    <form [formGroup]="angForm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Ordenes</h4>
                            <p class="card-category"> Últimas Ordenes Activas</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                    <button class="btn btn-primary" (click)="colsultarOrdenXid()">
                                        Consultar X ID Orden
                                    </button>
                                    <input type="text" formControlName="consultaId" class="form-control"  placeholder="Id de la orden" />
                            </div>
                            <div class="row">
                                <button class="btn btn-primary" (click)="colsultarOrdenActivas">
                                    Consultar Ordenes Activas
                                </button>
                            </div>
                            <div class="row">
                                <button class="btn btn-primary" (click)="colsultarOrdenXCliente()">
                                    Consultar X cliente
                                </button>
                                <input type="text" formControlName="cliente" class="form-control"  placeholder="Nombre del cliente" />
                            </div>
                            <div class="row">
                                <button class="btn btn-primary" (click)="colsultarOrdenXProducto()">
                                    Consultar X Producto
                                </button>
                                <input type="text" formControlName="producto" class="form-control"  placeholder="Nombre del cliente" />
                            </div>
                            <div class="table-responsive" *ngIf="tablaOrdenes">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            ID Orden
                                        </th>
                                        <th>
                                            Cliente
                                        </th>
                                        <th>
                                            Dirección
                                        </th>
                                        <th>
                                            Valor Total
                                        </th>
                                        <th>
                                            Cantidad Productos
                                        </th>
                                        <th>
                                            Fecha Solicitud
                                        </th>
                                        <th>
                                            Fecha Aprobación
                                        </th>
                                        <th>
                                            Fecha Cierre
                                        </th>
                                        <th>
                                            Estado
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor= "let ord of listOrdenes" >
                                        <td>{{ord.idOrden}}</td>
                                        <td>{{ord.idCliente}}</td>
                                        <td>{{ord.idDireccion}}</td>
                                        <td>{{ord.valorTotal}}</td>
                                        <td>{{ord.cantidadProductos}}</td>
                                        <td>{{ord.fechaSolicitud}}</td>
                                        <td>{{ord.fechaAprobacion}}</td>
                                        <td>{{ord.fechaCierre}}</td>
                                        <td>{{ord.estado}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
