<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group">

                <form [formGroup]="angForm">
                    <button [disabled]="loading" class="btn btn-primary" (click)="onClick()">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        consultar
                    </button>
                    <input type="text" formControlName="product" class="form-control" />
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> PRODUCTOS </h4>
                        <p class="card-category">Productos registrados en el sistema</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <strong *ngIf="tablaProductos.length == 0">Cargando..</strong>
                            <table *ngIf="tablaProductos.length > 0">
                                <thead class="">
                                    <th>ID Producto</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Valor base</th>
                                    <th>Categoria</th>
                                    <th>Estado</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let productoz of tablaProductos">
                                        <td>{{ productoz.idProducto }}</td>
                                        <td>{{ productoz.nombre }}</td>
                                        <td>{{ productoz.descripcion }}</td>
                                        <td>{{ productoz.valorBase }}</td>
                                        <td>Category</td>
                                        <td>{{ productoz.estado }}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>