<div class="main-content">
  <form [formGroup]="angForm">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header bg-primary">
          <h4 class="card-title text-white p3 text-white p3">REPORTES</h4>
          <p class="card-category"></p>
        </div>
        <div class="card-body">
          <div class="row">
            <button mat-raised-button class="btn btn-primary bg-primary" (click)="mostrarPanelOrdenesCerradas()">
              Ordenes Cerradas
            </button>
            <button mat-raised-button class="btn btn-primary bg-primary" (click)="mostrarPanelMasVendidos()">
              Productos mas Vendidos
            </button>
            <button mat-raised-button class="btn btn-primary bg-primary" (click)="mostrarPanelCategorias()">
              Categorías mas Vendidas
            </button>
            <button mat-raised-button class="btn btn-primary bg-primary" (click)="mostrarPanelOrdAbiertas()">
              Ordenes Abiertas
            </button>
            <button mat-raised-button class="btn btn-primary bg-primary" (click)="mostrarPanelOrdCerrDinero()">
              Ordenes Cerradas Con Dinero
            </button>
            <button mat-raised-button class="btn btn-primary bg-primary" (click)="mostrarPanelClientesFacturados()">
              Clientes Facturados
            </button>
            <button mat-raised-button class="btn btn-primary bg-primary" (click)="mostrarPanelClientesProductos()">
              Clientes X Productos
            </button>
          </div>
        </div>
      </div>
      <div class="card" *ngIf="PanelFiltroCliente">
        <div class="card-header bg-primary">
          <h4 class="card-title text-white p3 ">FILTRO</h4>
          <p class="card-category text-white p3">Diligencie la siguiente información</p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Código de Producto" formControlName="idProducto" type="input" required>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary bg-primary" (click)="buscarClienteProducto()">Buscar Clientes</button>
          </div>
        </div>
      </div>
      <div class="card" *ngIf="panelFiltro">
        <div class="card-header bg-primary">
          <h4 class="card-title text-white p3 ">FILTRO</h4>
          <p class="card-category">Diligencie la siguiente información</p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Fecha de Inicio" formControlName="fechaInicioOC" type="date" required>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Fecha de Fin" formControlName="fechaFinOC" type="date" required>
            </mat-form-field>
          </div>
          <div class="col-md-4" *ngIf="panelOrdenesCerradas">
            <button class="btn btn-primary bg-primary" (click)="buscarOrdenesCerradas()">Ordenes Cerradas</button>
          </div>
          <div class="col-md-4" *ngIf="panelMasVendidos">
            <button class="btn btn-primary bg-primary" (click)="buscarProductosMasVendidos()">Productos Mas
              Vendidos</button>
          </div>
          <div class="col-md-4" *ngIf="panelCategoriasMasVendidos">
            <button class="btn btn-primary bg-primary" (click)="buscarCategorias()">Categorías Mas Vendidas</button>
          </div>
          <div class="col-md-4" *ngIf="panelClientesFacturados">
            <button class="btn btn-primary bg-primary" (click)="buscarClientesFacturados()">Clientes Facturados</button>
          </div>
          <div class="col-md-4" *ngIf="panelOrdCerradasDinero">
            <button class="btn btn-primary bg-primary" (click)="buscarOrdCerradasDinero()">Ordenes Cerradas
              Dinero</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngIf="panelTablaOrdenesCerradas" class="card">
          <div class="card-header bg-primary">
            <h4 class="card-title text-white p3 ">Ordenes Cerradas</h4>
            <p class="card-category text-white p3">Lista de ordenes cerradas</p>
          </div>
          <strong *ngIf="tablaOrdenesCerradas.length == 0">Sin datos..</strong>
          <div *ngIf="tablaOrdenesCerradas.length > 0" class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>Cantidad Ordenes</th>
                  <th>Valor Total</th>
                  <th>Mes</th>
                  <th>Año</th>
                </thead>
                <tbody>
                  <tr *ngFor="let ord of tablaOrdenesCerradas">
                    <td>{{ord.cantidad}}</td>
                    <td>{{ord.total}}</td>
                    <td>{{ord.mescierre}}</td>
                    <td>{{ord.aniocierre}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="panelTablaMasVendidos" class="card">
        <div class="card-header bg-primary">
          <h4 class="card-title text-white p3 ">Productos Mas vendidos</h4>
          <p class="card-category text-white p3">Lista de productos mas vendidos</p>
        </div>
        <strong *ngIf="tablaProductosMasVendidos.length == 0">Sin datos..</strong>
        <div *ngIf="tablaProductosMasVendidos.length > 0" class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>ID Producto</th>
                <th>ID Producto</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Mes</th>
                <th>Año</th>
              </thead>
              <tbody>
                <tr *ngFor="let ord of tablaProductosMasVendidos">

                  <td><i class="material-icons" matTooltip="Ver Producto" style="cursor: pointer;"
                      (click)="$event.stopPropagation();verProducto(ord.idproducto)">details</i>
                  </td>

                  <td>
                    <!-- <a [routerLink]="['/home/productos', ord.idproducto]"> -->
                      {{ord.idproducto}}
                    <!-- </a> -->
                  </td>
                  <td>{{ord.producto}}</td>
                  <td>{{ord.cantidad}}</td>
                  <td>{{ord.mes}}</td>
                  <td>{{ord.anio}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="renderDetalleProducto" class="card">
        <div class="card-header bg-primary">
          <h4 class="card-title text-white p3 ">Productos</h4>
          <p class="card-category text-white p3">Detalle producto</p>
        </div>
        <div class="table-responsive">
          <strong *ngIf="tablaProductos.length == 0">Sin datos..</strong>
          <table *ngIf="tablaProductos.length > 0" class="table table-hover">
            <thead class="">
              <th>ID Producto</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Valor base</th>
              <th>Categoria</th>
            </thead>
            <tbody>
              <tr *ngFor="let productoz of tablaProductos">
                <td>{{ productoz.idProducto }}</td>
                <td>{{ productoz.nombre }}</td>
                <td>{{ productoz.descripcion }}</td>
                <td>{{ productoz.valorBase }}</td>
                <td>{{ consultarCategoria(productoz.idCategoria) }}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>


      <div *ngIf="panelTablaCategorias" class="card">
        <div class="card-header bg-primary">
          <h4 class="card-title text-white p3 ">Categorias mas Vendidas</h4>
          <p class="card-category text-white p3">Lista Categorias mas vendidas</p>
        </div>
        <strong *ngIf="tablaCategorias.length == 0">Sin datos..</strong>
        <div *ngIf="tablaCategorias.length > 0" class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>ID Categoria</th>
                <th>Categoría</th>
                <th>Cantidad</th>
                <th>Mes</th>
                <th>Año</th>
              </thead>
              <tbody>
                <tr *ngFor="let ord of tablaCategorias">
                  <td>{{ord.idcategoria}}</td>
                  <td>{{ord.categoria}}</td>
                  <td>{{ord.cantidad}}</td>
                  <td>{{ord.mes}}</td>
                  <td>{{ord.anio}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="panelOrdenesAbiertas" class="card">
        <div class="card-header bg-primary">
          <h4 class="card-title text-white p3 ">Ordenes Abiertas</h4>
          <p class="card-category text-white p3">Lista de ordenes abiertas</p>
        </div>
        <strong *ngIf="tablaOrdAbiertas.length == 0">Sin datos..</strong>
        <div *ngIf="tablaOrdAbiertas.length > 0" class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>ID Orden</th>
                <th>días</th>
                <th>fecha Solicitud</th>
                <th>Estado</th>
              </thead>
              <tbody>
                <tr *ngFor="let ord of tablaOrdAbiertas">
                  <td>{{ord.idorden}}</td>
                  <td>{{ord.dias}}</td>
                  <td>{{ord.fechasolicitud}}</td>
                  <td>{{ord.estado}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="panelOrdDinero" class="card">
        <div class="card-header bg-primary">
          <h4 class="card-title text-white p3 ">Ordenes Cerradas con mas Dinero</h4>
          <p class="card-category text-white p3">Lista de ordenes con dinero</p>
        </div>
        <strong *ngIf="tablaOrdCerDinero.length == 0">Sin datos..</strong>
        <div *ngIf="tablaOrdCerDinero.length > 0" class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>ID Orden</th>
                <th>Valor Total</th>
                <th>Mes</th>
                <th>Año</th>
              </thead>
              <tbody>
                <tr *ngFor="let ord of tablaOrdCerDinero">
                  <td>{{ord.idorden}}</td>
                  <td>{{ord.valortotal}}</td>
                  <td>{{ord.mes}}</td>
                  <td>{{ord.anio}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="panelTablaClienteFac" class="card">
        <div class="card-header bg-primary">
          <h4 class="card-title text-white p3 ">Clientes factura</h4>
          <p class="card-category text-white p3">Lista de Clientes Facturados</p>
        </div>
        <strong *ngIf="tablaClientesFac.length == 0">Sin datos..</strong>
        <div *ngIf="tablaClientesFac.length > 0" class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>ID Cliente</th>
                <th>Nombre</th>
                <th>Valor Total</th>
                <th>Mes</th>
                <th>Año</th>
              </thead>
              <tbody>
                <tr *ngFor="let ord of tablaClientesFac">
                  <td>{{ord.idcliente}}</td>
                  <td>{{ord.nombres}}</td>
                  <td>{{ord.valortotal}}</td>
                  <td>{{ord.mes}}</td>
                  <td>{{ord.anio}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="PanelTablaClienteProductos" class="card">
        <div class="card-header bg-primary">
          <h4 class="card-title text-white p3 ">Clientes Cliente</h4>
          <p class="card-category text-white p3">Lista de clientes que compraron un producto</p>
        </div>
        <strong *ngIf="tablaClienteProductos.length == 0">Sin datos..</strong>
        <div *ngIf="tablaClienteProductos.length > 0" class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telèfono</th>
                <th>e-mail</th>
                <th>estado</th>
                <th>categorìa</th>
                <th>Tipo Identificaciòn</th>
                <th>Nùmero identificaciòn</th>
                <th>Nombre Producto</th>
              </thead>
              <tbody>
                <tr *ngFor="let ord of tablaClienteProductos">
                  <td>{{ord.usuario}}</td>
                  <td>{{ord.nombre}}</td>
                  <td>{{ord.apellido}}</td>
                  <td>{{ord.telefono}}</td>
                  <td>{{ord.email}}</td>
                  <td>{{ord.estado}}</td>
                  <td>{{ord.idcategoria}}</td>
                  <td>{{ord.tipoidentificacion}}</td>
                  <td>{{ord.numeroidentificacion}}</td>
                  <td>{{ord.nombreproducto}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>